/* * {
  box-sizing: border-box;
} */
/* html {
  font-size: 10vw;
} */
@function baseSize($size) {
  @return $size / 360 * 100vw
}
body {
  min-width: 360px;
  max-width: 750px;
  // width: 100%;
  margin: 0 auto;
  background-color: #f2f2f2;
  color: #2c3e50;
  font-size: baseSize(16);
}
a {
  text-decoration: none;
  color: #3385ff;
}
a:hover {
  text-decoration: none;
}
input, button {
  outline: none;
  border: none;
}
.alert-text_body {
  text-align: center;
  font-size: baseSize(16);
}
.edit-modal, .edit-modal .btn  {
  font-size: .444444rem;
}
.edit-modal .btn {
  padding: 0.25rem 0.416667rem;
  margin: 0 0.277778rem;
}
.edit-modal .close {
  font-size: .8rem;
}
.edit-modal .modal-header,
.edit-modal .modal-body, 
.edit-modal .modal-footer {
  padding: 0.416667rem;
}
/* @media screen and (max-width: 360px) {
  html {
    font-size: 36px;
  }
}
@media screen and (min-width: 750px) {
  html {
    font-size: 75px;
  }
} */
