@function baseSize($size) {
  @return $size / 360 * 100vw
}
* {
  box-sizing: border-box;
}
body {
  min-width: 360px;
  max-width: 750px;
  margin: 0 auto;
  font-size: baseSize(16);
  background-color: #f2f2f2;
}
a {
  text-decoration: none;
  color: #007bff;
  &:hover {
    text-decoration: none;
  }
}
input, button {
  outline: none;
}
