* {
  box-sizing: border-box;
}
html {
  font-size: 10vw;
}
body {
  background-color: #f2f2f2;
  color: #2c3e50;
  font-size: 0.444444rem;
}
a {
  text-decoration: none;
  color: #3385ff;
}
input, button {
  outline: none;
  border: none;
}